
/*Text Tag Manipulation*/
body{
    position: relative;
    margin: 0 auto;
}
h1{
    font-size: 2em;
    font-weight: bold;
    font-family: "Cambria", "Hoefler Text", "Liberation Serif", "Times", "Times New Roman", serif;
}
h2{
    font-size: 1.25em;
    font-weight: bold;
    margin-top: 0px;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Verdana", sans-serif;
}






/*Class Definition*/
.textBoxBlack{
    width: 230px;
    height: 230px;
    background-color: black;
    color: white;
    padding: 10px;
    font-size: 1em;
    line-height: 1;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans","DejaVu Sans", "Verdana", sans-serif;
    float: left;
 }
.textBoxWhite{
    width: 228px;
    height: 228px;
    padding: 10px;
    font-size: 1em;
    line-height: 1;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans","DejaVu Sans", "Verdana", sans-serif;
    border-style: dotted;
    border-width: thin;
    float: left;
}
.textBoxBlackLarge{
    width: 460px;
    height: 210px;
    background-color: black;
    color: white;
    padding: 20px;
    font-size: 1em;
    line-height: 1;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans","DejaVu Sans", "Verdana", sans-serif;
    float: left;
}
.textBoxWhiteLarge{
    width: 458px;
    height: 208px;
    padding: 20px;
    font-size: 1em;
    line-height: 1;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans","DejaVu Sans", "Verdana", sans-serif;
    border-style: dotted;
    border-width: thin;
    float: left;
}
.imageBox{
    width: 250px;
    height: 250px;
    float: left;
}
.audioBoxBlack{
    font-size: 2.5em;
    text-align: right;
    width: 230px;
    height: 230px;
    padding: 10px;
    float: left;
    line-height: 1;
    background-color: black;
    color: white;
    overflow: hidden;
}
.audioBoxWhite{
    font-size: 2.5em;
    text-align: right;
    width: 228px;
    height: 228px;
    padding: 10px;
    float: left;
    line-height: 1;
    overflow: hidden;
    border-style: dotted;
    border-width: thin;
}






/*Id Defintion*/
#container{
    opacity: 1;
}

#classifyval{
    font-size: 2.25em;
    padding-top: 150px;
    font-family: "Cambria", "Hoefler Text", "Liberation Serif", "Times", "Times New Roman", serif;

}

#classifycat{
    font-size: 1em;
    font-weight: bold;
    font-family: "Cambria", "Hoefler Text", "Liberation Serif", "Times", "Times New Roman", serif;
}

#nav{
    width: 100%;
    margin-top: 75px;
    margin-left: 10px;
    font-size: 1.25em;
    font-family: "Cambria", "Hoefler Text", "Liberation Serif", "Times", "Times New Roman", serif;
}

#footer {
    display:inline-block;
    width:99.8%;
    padding-top:.5%;
    padding-bottom:.25%;
    border-style:dotted;
    border-width:thin;
    text-align:center;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
    font-size:.75em;
    color:#003300;
}

#popupContainer{
    position: absolute;
    visibility: hidden;
    z-index: 100;
}





/*link manipulation*/
#nav a:link{
    color: white;
    text-decoration: none;
    margin-right: 20px;
}
#nav a:visited{
    color: white;
}
#nav a:hover{
    text-decoration: underline;
}
.audioBoxBlack a{
    color: white;
    text-decoration: none;
}
.audioBoxBlack a:hover{
    text-decoration: underline;
}
.audioBoxWhite a{
    color: black;
    text-decoration: none;
}
.audioBoxWhite a:hover{
    text-decoration: underline;
}