body {
    margin: 0 auto;
}

#mainImage{
    width: 100%;
    background-size: cover;
    background-image: url('images/pizza_background.jpg');
    z-index: 1;
}
#mainImageText{
    padding: 2.5%;
    font-size: 1.25em;
    font-family: "cabin-sketch", sans-serif;
    color: white;
    align-items: center;
    background-color: black;
    opacity: .8;
    filter: alpha(opacity=80);
    display: inline-block;
    margin-top: 16%;
    margin-bottom: 3%;
    margin-left: 2.5%;
}
#mainImageText h1{
    font-size: 4.2em;
    font-weight: bold;
    margin: 0 auto;
}
#menuBar{
    padding-top: 1.0%;
    padding-bottom: 1.0%;
    background-color: #000000;
    z-index: 2;
    opacity: 0.8;
    filter: alpha(opacity=80);
}
#menuBar ul{
    margin: 0 auto;
    text-align: center;
    list-style-type: none;
}
#menuBar li{
    display: inline;

}
#menuBar a{
    font-size: 1.125em;
    margin-left: 7.5%;
    margin-right: 7.5%;
    color: white;
    text-decoration: none;
    font-family: "cabin-sketch", sans-serif;
}
#menuBar a:hover{
    color: #db536b;
    text-decoration: underline;
}

#subContentLeft{
    width: 26.3%;
    padding-bottom: 1.5%;
    padding-top: 1.5%;
    padding-right: 2.5%;
    padding-left: 2.5%;
    margin: 1.0%;
    background: #d46b34;
    font-family: "passion-one", sans-serif;
    font-size: 2.5em;
    color: black;
    float: left;
}
#subContentMiddle{
    width: 26.4%;
    padding-bottom: 1.5%;
    padding-top: 1.5%;
    padding-right: 2.5%;
    padding-left: 2.5%;
    margin: 1.0%;
    background: #db536b;;
    font-family: "passion-one", sans-serif;
    font-size: 2.5em;
    color: black;
    float: left;
}
#subContentRight{
    width: 26.3%;
    padding-bottom: 1.5%;
    padding-top: 1.5%;
    padding-right: 2.5%;
    padding-left: 2.5%;
    margin: 1.0%;
    background: #f5c12d;
    font-family: "passion-one", sans-serif;
    font-size: 2.5em;
    color: black;
    float: left;
}

.imageFloatLeft{
    float: left;
    padding-right: 10%;
}
.formTable{
    border: 0px;
}

.formLabel{
    text-align: right;
    padding-right: 5%;
    vertical-align: top;
}
.formTable td{
    padding-bottom: 5%;
}

@media only screen and (max-width: 905px){

    .imageFloatLeft {
        float: none;
        padding-right: 0;
        display: block;
    }
}
@media only screen and (max-width: 451px){
    .imageFloatLeft{
        float: left;
        padding-right: 10%;
    }

    #subContentLeft{
        display: inline-block;
        width: 93%;
        padding-bottom: 1.5%;
        padding-top: 1.5%;
        padding-right: 2.5%;
        padding-left: 2.5%;
        margin: 1.0%;
        background: #d46b34;
        font-family: "passion-one", sans-serif;
        font-size: 2.5em;
        color: black;
    }
    #subContentMiddle{
        display: inline-block;
        width: 93%;
        padding-bottom: 1.5%;
        padding-top: 1.5%;
        padding-right: 2.5%;
        padding-left: 2.5%;
        margin: 1.0%;
        background: #db536b;;
        font-family: "passion-one", sans-serif;
        font-size: 2.5em;
        color: black;

    }
    #subContentRight{
        display: inline-block;
        width: 93%;
        padding-bottom: 1.5%;
        padding-top: 1.5%;
        padding-right: 2.5%;
        padding-left: 2.5%;
        margin: 1.0%;
        background: #f5c12d;
        font-family: "passion-one", sans-serif;
        font-size: 2.5em;
        color: black;

    }

}

#container{
    width: 100%;
    margin: 0 auto;
}

#orderContainer{
    width: 100%;
    background-color: #db536b;
    text-align: center;
}

#orderForm {
    display: inline-block;
    margin: 2.5%;
    padding: 2.5%;
    font-family: passion-one, sans-serif;
    font-size: 1.25em;
    text-align: left;
    color: #ffffff;
    background-color: #000000;
    opacity: 0.8;
    filter: alpha(opacity=80);
    z-index: 2;
}

#orderForm h1{
    text-align: center;
    margin-top: 0;
    font-family: "cabin-sketch";
    font-size: 2.5em;
}

#footer{
    /*position: relative;*/
    width: 99.8%;
    padding-top: 0.5%;
    border: dotted;
    border-width: thin;
    text-align: center;
    font-size: .875em;
    font-color: #003300;
    font-family: "cabin-sketch", sans-serif;
    display: inline-block;
    padding-bottom: .25%;
}
